.content_style {
    font-family: helvetica, sans-serif;
    font-size: 18px;
    font-variant: small-caps;
    background-image:url("http://img0.liveinternet.ru/images/attach/b/3//41/244/41244721_1237472638_golubuye4.jpg");
    background-size: 100%;
    background-repeat: repeat;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
} 
.menubar_container
{
  display: flex;
  justify-content: space-between;
  background-color:rgba(15, 190, 240, 0.84);
  font-size: 20px;
  height: 75px;
  align-items: center;
  margin-top:-50px;
  margin-bottom:20px;
}
main{
	margin:20px;
	flex: 1 0 auto;
}
.menuitems_container
{
  display: flex;
  justify-content: flex-end;
}
.main_menuitem
{
    padding:15px;
    font-size:25px;
}
.menuitem
{
  padding:15px;
  font-size: 18px;
}
.menuitem::before
{
    content:"*";
}
.footer
{
  font-size:13px;
  display: flex;
  justify-content: space-around;
}
.footer_elem
{
    color:#040068;
    align-content:stretch;
}

.button1 {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 100px;
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  user-select: none;
} 
.button1:hover {
  color: rgb(0,59,66);
  cursor: pointer;
}
.button1:active {
  padding-bottom: 1px;
  box-shadow:
   inset rgba(0,0,0,1) 0 1px 3px,
   inset rgba(0,0,0,.6) 0 -2px 5px,
   inset rgba(252,255,255,.7) 0 2px 5px,
   0 1px rgba(255,255,255,.08);
  color: rgb(128,207,214);
}
.link
{
    color:rgba(0,0,0,.6)
}
.link.a:hover
{
    color:blue;
    text-decoration:underline;
}
.input_container
{display: flex;}
.input_item{}