
.header_container {
	display: flex;
	position:fixed;
	width:100%;
	justify-content: space-between;
	font-size: 20px;
	height: 75px;
	align-items: center;
	margin-top: -50px;
	margin-bottom: -20px;
	background: #75D2EF;
	font-weight:600;
}
.body_style {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Lucida Console;
	align-items: center;
}
.main_style{
	width:100%;
	flex: 1;
}
.header_links {
	/*align-items:flex-end;*/
	justify-content: flex-end;
}

.header_home_link {
	color: #6291EF;
	padding: 15px;
}

.header_link {
	padding: 15px;
	font-size: 18px;
}
.header_link::after{
	content:attr(data-content);
}
.footer {
	display: flex;
	width:100%;
	font-size: 13px;
	justify-content: space-around;
	background: #75D2EF;
	margin-bottom:-18px;
}

.footer_elem {
	margin-top: 20px;
	font-weight: 700;
	font-size: large;
	color: /*#3329A1*/ #4F4B79;
	align-content: center;
}
.table_item{
	padding:5px;
}